<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>Hi, I'm Satoka</h2>
        <p>Full-stack web developer based in Tokyo, Japan. Passionate about using technologies to empower people. Currently working as a junior developer at Evolany.</p>
      </div>
    </div>
  </div>
</div>
